{% extends "homepage.html" %}


{% block viewport %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Buy</h1>
</div>
<h2>{{ message }}</h1>
<p></p>
<form action='/buy' method="post">
   <!-- Ticker form-field -->
   <input name="ticker" placeholder="Company Ticker" type="text">
   <!-- # of stocks form-field -->
   <input name="quantity" placeholder="# of shares" type="text">
   <!-- Button -->
   <input type="submit">
</form>
{% endblock viewport %}
