<!DOCTYPE html>
<html lang="en">
    <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta name="description" content="">
            <meta name="author" content="">
            <link rel="icon" href="https://getbootstrap.com/favicon.ico">
        <!-- This is NOT displayed in the viewport -->
        
        <title>Web Trader</title>
        <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.1/examples/sign-in/signin.css" rel="stylesheet">
    </head>
    <body>
        <body class="text-center">
            <form class="form-signin" method="post">
              <img class="mb-4" src="https://icon-icons.com/icons2/290/PNG/512/wwe_30830.png" alt="" width="150" height="150">
              <h1 class="h3 mb-3 font-weight-normal">{{message}}</h1>
              <label for="inputEmail" class="sr-only">Username</label>
              <input name="username" type="text" class="form-control" placeholder="Username" required autofocus>
              <label for="inputPassword" class="sr-only">Password</label>
              <input name="password" type="text" class="form-control" placeholder="Password" required>
              <button class="btn btn-lg btn-primary btn-block" type="submit" name="loggin" value="Loggin" >Logg in</button>
              <button class="btn btn-lg btn-primary btn-block" type="submit" name="loggin">Sign up</button>
              <p class="mt-5 mb-3 text-muted">&copy; 2018</p>
            </form>
          </body>
    </body>
</html>
